/* ==================================================
=========// Device Screen : < 1190 Width //==========
===================================================== */

@media screen and (max-width: 1190px) {

/* >>>>>>>> Common CSS Section <<<<<<<< */
  .container {
    width: 100%;
    padding: 0 10px;
  }


/* >>>>>>>> Header Section <<<<<<<< */
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  #heading_items {
    width: 100%;
    justify-content: center;
  }

  #heading_items {
    width: 100%;
  }

  #heading_text {
    width: 100%;
    padding: 0 0 0 16px;
  }

  #heading_text h1 {
    width: 100%;
    font-size: 46px;
    line-height: 50px;
    text-align: left;
  }


/* >>>>>>>> Nav Section <<<<<<<< */
  nav {
    width: 100%;
  }

  nav ul {
    margin: 0 10px 0 0;
  }


/* >>>>>>>> Player Card Section <<<<<<<< */
  #player_infos {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }

  .player_infos {
    width: 90%;
    max-width: 400px;
    height: auto;
  }

  .player_infos p {
    width: 100%;
  }


/* >>>>>>>> Highlight Section <<<<<<<< */
  #highlight {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #highlights_text {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
  }

  #highlights_text h1 {
    font-size: 40px;
    width: 100%;
  }

  #highlights_text p {
    width: 80%;
  }

  #highlights_img {
    display: block;
    width: 100%;
  }

  #highlights_img img {
    display: block;
  }


/* >>>>>>>> Upcoming Match Section <<<<<<<< */
  #upcoming_matches {
    position: relative;
    height: 500px;
    height: auto;
  }

  #upcoming_matches h2 {
    width: 100%;
    position: static;
    text-align: center;
  }

  #upcoming_matches .time {
    line-height: 30px;
  }

/* >>>>>>>> Sponsored Section <<<<<<<< */
  #sponsored_section {
    width: 100%;
  }

  #sponsored_logos {
    grid-template-areas:
      " nike"
      "hyundai"
      "ea"
      "trivago"
      "cocacola";
    justify-content: center;
    align-items: center;
  }


/* >>>>>>>> Footer Section <<<<<<<< */
  .footer_infos {
    width: 50%;
  }
}


/* ==================================================
=========// Device Screen : < 704 Width //===========
===================================================== */

@media screen and (max-width: 704px) {
  
/* >>>>>>>> Common CSS Section <<<<<<<< */
  .container {
    width: 100%;
    padding: 0 10px;
  }


/* >>>>>>>> Header Section <<<<<<<< */
  header {
    width: 100%;
    height: 400px;
  }

  #heading_items {
    width: 100%;
    justify-content: center;
  }

  .heading_img {
    display: none;
  }

  #heading_items {
    width: 100%;
  }

  #heading_text {
    width: 100%;
    padding: 0 0 0 16px;
  }

  #heading_text h1 {
    width: 100%;
    font-size: 36px;
    line-height: 50px;
    text-align: left;
  }



/* >>>>>>>> Nav Section <<<<<<<< */
  nav {
    display: none;
  }


/* >>>>>>>> Player Card Section <<<<<<<< */
  #player_infos {
    grid-template-columns: repeat(1, 1fr);
  }


/* >>>>>>>> Highlight Section <<<<<<<< */
  #highlight {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #highlights_text {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
  }

  #highlights_text h1 {
    font-size: 30px;
    width: 100%;
  }

  #highlights_text p {
    width: 100%;
  }

  #highlights_img {
    display: block;
    width: 100%;
  }

  #highlights_img img {
    display: block;
  }


/* >>>>>>>> Upcoming Match Section <<<<<<<< */
  #upcoming_matches {
    position: relative;
    height: 500px;
    height: auto;
  }

  #upcoming_matches h2 {
    width: 100%;
    position: static;
    text-align: center;
  }

  #upcoming_matches .time {
    line-height: 30px;
  }


/* >>>>>>>> Sponsored Section <<<<<<<< */
  #sponsored_section {
    width: 100%;
  }

  #sponsored_logos {
    grid-template-areas:
      " nike"
      "hyundai"
      "ea"
      "trivago"
      "cocacola";
    justify-content: center;
    align-items: center;
  }


/* >>>>>>>> Footer Section <<<<<<<< */
  .footer_infos {
    width: 80%;
  }
}


/* ==================================================
=========// Device Screen : < 350 Width //===========
===================================================== */

@media only screen and (max-width: 350px) {

  .player_infos {
    width: 250px;
    height: auto;
  }

  .player_infos p {
    width: 100%;
  }
}
